<div ng-controller="GameRpsController as $rps">
  <div class="modal-header">
    <h5 class="modal-title">Rock Paper Scissors</h5>
    <button type="button" class="close" ng-click="$ctrl.close()" aria-label="Close" id = "modal-close-icon">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body container">
    <div class="row" style="border-bottom:1px solid">
      <div class="col-3" style="text-align:center;">
        {{$rps.player1.name}}
      </div>
      <div class="col-6" style="text-align:center;">
        
        <div style="float:left;">
          <img ng-repeat="x in $rps.p1Wins track by $index" ng-src="{{x ? '/res/img/gameWin.png' : '/res/img/gameCounter.png'}}" class="img-fluid">
        </div>
        <div style="float:right;">
          <img ng-repeat="x in $rps.p2Wins track by $index" ng-src="{{x ? '/res/img/gameWin.png' : '/res/img/gameCounter.png'}}" class="img-fluid">
        </div>
      </div>
      <div class="col-3" style="text-align:center;">
        {{$rps.player2.name}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table style="float:left;">
          <thead>
            <tr><th><button type="button" class="btn btn-primary">Rock</button></th></tr>
            <tr><th><button type="button" class="btn btn-success">Paper</button></th></tr>
            <tr><th><button type="button" class="btn btn-info">Scissors</button></th></tr>
          </thead>
        </div>
      </table>
      <div class="col">
        <table style="float:right;">
          <thead>
            <tr><th><button type="button" class="btn btn-primary">Rock</button></th></tr>
            <tr><th><button type="button" class="btn btn-success">Paper</button></th></tr>
            <tr><th><button type="button" class="btn btn-info">Scissors</button></th></tr>
          </thead>
        </div>
      </table>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="$ctrl.close()">Leave Game</button>
  <button type="button" class="btn btn-primary" ng-click="$ctrl.showGameLobbiesDialog()">Game Lobbies</button>
</div>
</div>