<div class="modal-header">
  <h5 class="modal-title">Rock Paper Scissors</h5>
  <button type="button" class="close" ng-click="$ctrl.close()" aria-label="Close" id = "modal-close-icon">
  <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body container">
  <div class="row">
    <div class="col-2">
      1 of 2
    </div>
    <div class="col-2">
      1 of 2
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="$ctrl.close()">Leave Game</button>
  <button type="button" class="btn btn-primary" ng-click="$ctrl.showGameLobbiesDialog()">Game Lobbies</button>
</div>