<div ng-controller="GameLobbyController">
    <div class="modal-header">
      <h2 class="modal-title">{{gameLobby.name}} ({{gameLobby.type}})</h2>
      <button type="button" class="close" ng-click="$ctrl.close()" id = "modal-close-icon">
      <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" style="text-align:left">
      <div class="col-xs-5">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Users ({{gameLobbyUsers.length}}/{{selectedCapacity}}) </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat = "x in gameLobbyUsers">
              <td>{{ x.name }}{{x.isHost ? '*': ''}}<button type="button" class="close" aria-label="Close" ng-click="kickUser(x.name)">
                <span aria-hidden="true">&times;</span>
              </button></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-xs-5">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Options</th>
            </tr>
            <tbody>
              <tr>
                <td>Best of: <select class="form-control input-sm" style="display:inline; width:auto;">
                  <option>1</option>
                  <option>3</option>
                  <option>5</option>
                  <option>7</option>
                </select></td>
              </tr>
              <tr>
                <td>Capacity: <select ng-disabled = "true" class="form-control input-sm" style="display:inline; width:auto;" ng-model="selectedCapacity" ng-options="capacity for capacity in generatedCapacities">
                </select></td>
              </tr>
            </tbody>
          </thead>
        </table>
      </div>
      <button type="button" class="btn btn-info" ng-click="startGame()" ng-disabled="selectedCapacity > gameLobbyUsers.length">Start Game!</button>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click=$ctrl.close()>Close</button>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.showGameLobbiesDialog()">Back to Game Lobbies</button>
  </div>