<div class="modal-header">
    <h5 class="modal-title">Game Lobbies</h5>
    <button type="button" class="close" ng-click="$ctrl.close()" aria-label="Close" id = "modal-close-icon">
    <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" ng-controller="GameLobbiesController">
  <button type="button" class="btn btn-default btn-xs" ng-click="refreshLobbies()">
  <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh List
</button>
    <table class="table table-hover" >
      <thead>
        <tr>
          <th>Game</th>
          <th>Type</th>
          <th>Capacity</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat = "x in gameLobbies" ng-click = "joinGame(x.name, x.type, x.capacity)">
          <td>{{ x.name }}</td>
          <td>{{ x.type }}</td>
          <td>{{ x.capacity }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="$ctrl.close()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="$ctrl.showCreateGameDialog()">Create a Game</button>
    <button type="button" class ="btn btn-success" ng-click="$ctrl.showGameDialog()">RPS Game (Test)</button>
  </div>
