<body>
<div class="signup">
  <div class="signup-circle"></div>
  
  <h2 class="signup-header">Create an Account</h2>

<div id ="signupContainer" ng-controller="SignupController">
  <form id = "signupForm" class="signup-container" ng-submit = "signup()" >
    <p ng-hide = "!error" class = "alert alert-warning">{{errorText}}</p>
    <p><input type="text"  ng-model ="username" id ="name" placeholder="Username" required></p>
    <p><input type="password" ng-model ="password" id ="pass" placeholder="Password" required></p>
    <p><input type="submit" value="Create Account"></p>
  </form>

</body>


<style media="screen" type="text/css">

/**
Stolen from https://codepen.io/miroot/pen/qwIgC
 */

/* 'Open Sans' font from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  background: #456;
  font-family: 'Open Sans', sans-serif;
}

.signup {
  width: 30%;
  height: 40%;
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 999;
  color:black;
  background-color:white;
}

/* Reset top and bottom margins from certain elements */
.signup-header,
.signup p {
  margin-top: 0;
  margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.signup-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}

.signup-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.signup-container {
  background: #ebebeb;
  padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.signup p {
  padding: 12px;
}

.signup input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.signup input[type="text"],
.signup input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* Text fields' focus effect */
.signup input[type="email"]:focus,
.signup input[type="password"]:focus {
  border-color: #888;
}

.signup input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.signup input[type="submit"]:hover {
  background: #17c;
}

/* Buttons' focus effect */
.signup input[type="submit"]:focus {
  border-color: #05a;
}

</style>